body {
  color: #f2f2f2;
  background-color: #1a1a1a;
  font-family: 'Work Sans', sans-serif;
  width: 100vw;
  overflow: hidden;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
  /*border-bottom: 1px solid #f2f2f2;*/
}

h1#clock {
<<<<<<< HEAD
=======
  /*opacity: .1;*/
  font-family: 'Space Mono', monospace;
>>>>>>> recurseFix
  font-size: 1500%;
  font-weight: normal;
  margin: 0 auto;
  line-height: 80%;
}

span#ampm {
  font-size: 50%;
  text-transform: uppercase;
}

#container {
  width: 70%;
  position: fixed;
  top: 30%;
  left: 18%;
  z-index: 1;
  opacity: .05;
}

.button {
  border: 4px solid #f2f2f2;
  padding: 10px;
<<<<<<< HEAD
  margin: 10px;
=======
  /*margin: 20px auto 20px auto;*/
>>>>>>> recurseFix
  width: 100px;
  text-align: center;
  letter-spacing: 2px;
}
<<<<<<< HEAD
=======

#entrance {
  width: 20%;
  /*height: 30%;*/
  background-color: #f2f2f2;
  padding: 5%;
  position: absolute;
  top: 30%;
  left: 30%;
  box-shadow: 0 0 12px 0 rgba(175,175,175,0.50);
}

#entrance p{
  margin: 0 0 2em 0;
  padding: 0;
  color: #222;
}

.icon {
  width: 2em;
  opacity: .1;
  margin: 2em 0 1em 1em;
}

.icon:hover {
  opacity: .3;
}

#pausePlay {
  width: 8em;
  height: 3em;
  position: absolute;
  top: 0;
  right: 0;
}

#about {
  width: 80%;
  padding: 5em;
  margin: 5em auto 0 auto;
  max-width: 800px;
  background-color: #222;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.50);
  position: relative;
  z-index: 10;
  display: none;
}

#about p {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
}

#about a {
  color: #f2f2f2;
}

#aboutFooter {
  font-weight: 300;
}

#closeButton {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
}

#playButton {
  height: 6em;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 10;
}

#playButton img {
  width: 6em;
  height: 6em;
  float: left;
  margin-right: 1.5em;
}

#playButton p {
  position: relative;
  top: 1em;
}

#aboutLink {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: fixed;
  top: 45%;
  left: 1em;
}

#shareLink {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  position: fixed;
  top: 45%;
  right: 1em;
  z-index: 999;
  cursor: pointer;
}

#closeShare {
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
  cursor: pointer;
}

#shareButtons {
  z-index: 999;
  position: absolute;
  right: -4em;
  top: 33%;
  height: 30%;
  width: 4em;
  text-align: center;
}

.shareButton {
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.pause {
  cursor: pointer;
}
>>>>>>> recurseFix
